[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cached-property = "*" 
click = "==6.2"
croniter = "==0.3.20"
falcon = "*" 
graypy = "*" 
gunicorn = "*" 
psycopg2-binary = "*"
python-crontab = "==2.2.6"
requests = "*"
SQLAlchemy = "*"
fake-useragent = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-watch = "*"
SQLAlchemy-Utils = "*"
