cached-property==1.5.2
cachetools==4.2.1
click==6.6  # prevents library version conflict for Coala
falcon==2.0.0
git+git://github.com/martinvy/graypy.git@master#egg=graypy[amqp]
gunicorn==20.0.4
python-crontab[cron-schedule]==2.5.1
requests==2.25.1
SQLAlchemy[postgresql]==1.4.6
